<!DOCTYPE html>
<html>
	<head>
		<meta charser="UTF-8">
		
	</head>
	
	<body>
		<header class="bg-a1 p-3 d-flex justify-content-between bg-a1" th:fragment = "cabecalho">
	        <div>
	            <strong class="text-white">SGAM</strong>
	        </div>
	        
	        <div>
	            <a class="btn btn-outline-light" id="pesquisar" href="/">Pequisar</a>
	            <a class="btn btn-outline-light" id="registrar" href="/clientes/registrar">Registrar-se</a>
	            <a class="btn btn-outline-light" id="loginss" href="/login">Login</a> 
	           
	        </div>
      </header>
		
	</body>

</html>