<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout_admin}">
 
<head>
    <meta charset="UTF-8">
</head>

<body>
    
  <div class="col-10" layout:fragment="corpo">
  
  <h3 class="mt-4">Estabelecimento</h3>
  <div class="container clearfix">
  	
  	<hr>
  	<a href="/admin/estabelecimentos/listar" class="btn btn-success float-right">Todos estabelecimentos</a>
  </div>
  
  
    <form th:action="@{/admin/estabelecimentos/salvar}" th:object="${estabelecimento}" method="POST">
       	
       	<div class="container">
       	
       		<div class="col-10 offset-1 ">
       			<div class="input-group m-3">
	                <div class="input-group-prepend">
	                    <span class="input-group-text form-control">Nome</span>
	                </div>
	                <input class="form-control" type="text" placeholder="Digite o nome" th:field="*{nome}" />
	                
	                <div class="input-group-prepend">
	                    <span class="input-group-text">Pronvíncia</span>
	                </div>
	                <input class="form-control" type="text" placeholder="Digite a pronvincia" th:field="*{provincia}"  />
	            
	            </div>
          
	            <div class="input-group m-3">
	                <div class="input-group-prepend">
	                    <span class="input-group-text">Cidade</span>
	                </div>
	                <input class="form-control" type="text" placeholder="Digite a cidade" th:field="*{cidade}"  />
	                <div class="input-group-prepend">
	                    <span class="input-group-text">Bairro</span>
	                </div>
	                <input class="form-control" type="text" placeholder="Digite o bairro"  th:field="*{bairro}" />
	            </div>
	            
	             <div class="input-group m-3">
	                <div class="input-group-prepend">
	                    <span class="input-group-text">Avenida</span>
	                </div>
	                <input class="form-control" type="text" placeholder="Digite a avenida" th:field="*{avenida}"  />
	            </div>
	            
	             <div class="input-group col-6 offset-6">
	               <button type="submit"  class="btn bg-a1 form-control" >cadastrar</button>
	            </div>
	            
	                    
	            
       		</div>	
       	
        </div>
       
       
    </form>
    
  </div>

</body>

</html>